@mixin flex($center: false, $dir: column, $wrap: true) {
    display: flex;
    flex-direction: $dir;
    align-items: center;

    @if $center {
        justify-content: center;
    } @else {
        justify-content: flex-start;
    }

    @if $wrap {
        flex-wrap: wrap;
    } @else {
        flex-wrap: nowrap;
    }
}

@mixin page-display {
    top: var(--app-header-height);
    height: calc(100% - var(--app-header-height));
    width: 100%;
    position: absolute;
    overflow: scroll;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin tooltip($value) {
    content: $value;
    font-size: 0.7em;
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    position: absolute;
    transform: translate(-50%, 35px);
    padding: 10px;
    border-radius: 5px;
    animation: fadein 0.3s;
}

.app {
    --app-header-background: #ffffff;
    --app-primary-color: #1432be;
    --app-secondary-color: #757575;
    --message-details-background-color: #f9f9f9;
    --message-details-body-color: #333333;

    @media screen and (min-width: 800px) {
        --app-messages-width: 375px;
    }
    @media screen and (max-width: 799px) {
        --app-messages-width: 100%;
    }
    @media screen and (min-width: 374px) {
        --app-header-height: 60px;
    }
    @media screen and (max-width: 374px) {
        --app-header-height: 92px;
    }

    @media screen and (min-width: 420px) {
        --app-logo-height: 36px;
    }
    @media screen and (max-width: 420px) {
        --app-logo-height: 28px;
    }

    height: 100%;
    width: 100%;
    background-color: var(--app-background-color);
    text-align: center;

    .app-content {
        position: absolute;
        top: var(--app-header-height);
        height: calc(100% - var(--app-header-height));
        width: 100%;

        @include flex($dir: row);
        position: fixed;
        align-items: flex-start;

        .error-message {
            text-align: center;
            width: 100%;
            padding: 15%;
            font-size: 40px;
            color: var(--message-details-body-color);
        }
    }
}
