@import "../../App//App.scss";

.app-header {
  height: var(--app-header-height);
  width: 100%;
  padding: 10px 25px 10px 25px;
  box-sizing: border-box;

  @include flex($dir: row);
  justify-content: space-between;
  position: fixed;
  z-index: 999999;

  background-color: var(--app-header-background);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);

  .left-panel,
  .right-panel {
    @include flex($dir: row);
    color: var(--app-background-color);
  }
  .left-panel {
    .app-logo {
      height: var(--app-logo-height);
      left: 8px;
      top: 6px;
    }
  }

  .right-panel {
    .unread-message-counter {
      width: 61px;
      height: 31px;
      background-color: var(--app-primary-color);
      color: white;
      border-radius: 8px;
      @include flex($dir: row);
      justify-content: space-evenly;

      &.no-message {
        background-color: var(--app-secondary-color);
      }

      .email-icon {
        width: 20px;
        height: 17px;
      }
      data {
        font-weight: 500;
        font-size: 14px;

        &:hover {
          cursor: pointer;
        }

        &:hover::after {
          @include tooltip($value: attr(value));
        }
      }
    }

    select {
      margin-left: 12px;
      color: var(--message-details-body-color);
      border-radius: 8px;
      width: 110px;
      height: 25px;
      padding-left: 5px;
      border: 1px solid #b7b7b7;
      cursor: pointer;
    }
  }
}
